table{
    border: 3px solid #CF000F;
    width: 500px;
    height: 250px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: #F1654C;
    color:aliceblue;
}
table td{
    border: 5px solid #F29B34;
}
table th{
    font-weight: 700;
}
#title{
    font-weight: bolder;
}